<!--编辑车主信息-->
<ion-view title="编辑个人信息" class="ion-view-costum">
    <ion-nav-bar class="ion-nav-bar-costume" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-back" ng-click="goToCenter()"></button>
        </ion-nav-buttons>
        <!--<ion-nav-buttons side="right">
            <button class="button-clear" ng-click="saveMemberInfo()" style="color:#FFBC01;font-weight:600;">保存</button>
        </ion-nav-buttons>-->
    </ion-nav-bar>

    <ion-content>
            <ion-list>
                <!--<div class="item item-input input-costume">
                    <label class="input-label"><span class="input-label"><h2>称呼</h2></span></label>
                    <input type="text" name="name" ng-model='user.name' placeholder="请输入您的称呼" style="color:white;" required>
                    <label class="input-costume">
                        <select style="background-color:darkcyan; float:right" ng-model="user.sex">
                            <option value="1" ng-model="user.sex">先生</option>
                            <option value="2" ng-model="user.sex">女士</option>
                        </select>
                    </label>
                </div>-->
                <label class="item item-input input-costume">
                    <span class="input-label"><h2>称呼</h2></span>
                    <input type="text" name="name" ng-model='user.name' placeholder="请输入您的称呼" style="color:white;" required>
                </label>
                <label class="item item-input input-costume">
                    <span class="input-label"><h2>手机</h2></span>
                    <input type="text" name="mobile" ng-model='user.mobile' placeholder="请输入您要变更的手机号" style="color:white;" required>
                </label>
                    <ion-item class="input-costume" style="color:white;">
                        <label class="select-type"><input type="radio" name="sex" ng-model="user.sex" value='1' />男士</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="select-type"><input type="radio" name="sex" ng-model="user.sex" value='2' />女士</label>
                    </ion-item>
                <!--<ion-radio ng-model="user.sex" value ="person.sexValue" ng-repeat="person in persons"></ion-radio>-->
            </ion-list>
        <button class="button allbutton button-block button-small" style="width:90%;margin-left:5%;" ng-click="saveMemberInfo()">保存</button>
    </ion-content>
</ion-view>