<ion-view title="我的点趣">
    <ion-nav-bar class="bar-stable" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-ios-arrow-back" ng-click="goBack()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <!--列表-->
        <div class="list">
            <ion-item class="item item-icon-left ">
                <i class="icon ion-ios-person"></i>
                {{user.name}}
            </ion-item>
            <ion-item class="item item-icon-left ">
                <i class="icon ion-ios-telephone"></i>
                {{user.mobile}}
            </ion-item>
            <ion-item class="item item-icon-left ">
                <i class="icon ion-ios-body"></i>
                <p ng-show="user.sex ==1">男</p>
                <p ng-show="user.sex ==2">女</p>
            </ion-item>
            <a class="item item-icon-left " ng-click="goToEditOwnerInfo()">
                <i class="icon ion-compose"></i>
                修改信息
            </a>
            <button class="button button-block button-positive " ng-click="exitCurrentUser()">退出账号</button>
        </div>
    </ion-content>


</ion-view>