<!--编辑车主信息-->
<ion-view title="编辑个人信息">
    <ion-nav-bar>
<!--         <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i>back
</ion-nav-back-button> -->
    </ion-nav-bar>

    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <!--输入称呼和性别-->
                <label class="item item-input">
                    <i class="icon ion-ios-person placeholder-icon"></i>
                    <input type="text" name="name" ng-model='name' placeholder="请输入您的称呼" required>
                </label>
                
            </ion-list>
            <button class="button button-block button-positive " ng-click="saveMemberInfo()">保存信息</button>
        </form>
    </ion-content>
</ion-view>