<ion-view title="我的点趣" class="ion-view-costum">
    <ion-nav-bar class="ion-nav-bar-costume" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-chevron-left" ng-click="goBack()" style="color:white;width:33px;font-size:25px"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button-clear" ng-click="exitCurrentUser()" style="color:#fafb75;font-weight:600;">注销</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <form>
            <div class="row" style="border-bottom:1px solid white;">
                <div class="col col-20">
                    <img src="image/mydianqu.png" style="height:100%;width:100%;"/>
                </div>
                <div class="col col-50">
                    <p ng-show="user.name!=undefined">称呼：{{user.name}}</p>
                    <p ng-show="user.mobile!=undefined">手机：{{user.mobile}}</p>                    
                </div>
                <div class="col col-20 col-center">
                    <button class="item item-icon-right" ng-click="goToEditOwnerInfo()" style="border-color:#17bed0;background-color:#17bed0;">
                        <i class="icon ion-ios-arrow-forward"></i>
                    </button>
                    
                </div>
            </div>
            <div class="spacer" style="height:80px;"></div>
            <div class="row row-top row-text-align">
                <div class="col col-50 div-col-center" style="padding:0px 0px 0px 0px;">
                    <div class="div-col-innerdiv">
                        <button class="button ownbutton-circle" ng-click="goToWashShopInfo()">
                            <img src="image/aboutudianqu.png" style="vertical-align:central;height:100%; width:100%;" />
                        </button>
                        <p class="home-p">洗车店</p>
                    </div>

                </div>
                <div class="col col-60"></div>
                <div class="col col-50 div-col-center" style="padding:0px 0px 0px 0px;">
                    <div class="div-col-innerdiv">
                        <button class="button ownbutton-circle" ng-click="goToAutoList()">
                            <img src="image/iwantwash.png" style="vertical-align:central;height:100%; width:100%;" />
                        </button>
                        <p class="home-p">我的车辆</p>
                    </div>

                </div>
            </div>
        </form>
    </ion-content>
</ion-view>