<ion-view view-title="选择支付方式" class="ion-view-costum">
    <ion-nav-bar class="ion-nav-bar-costume" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-back" ng-click="goBack()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button-clear" ng-click="recharge()" style="color:#fafb75;font-weight:600;">确定</button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <ion-list>
            <ion-list class="input-costume">
                <label class="item item-input input-costume">
                    <input type="tel" name="userName" placeholder="请输入充值金额" ng-model="balance.amount" class="input-costume" style="color:white;font-weight:600;" required>
                </label>
                <ion-radio class="input-costume-radio" ng-model="balance.channel" value={{pay.name}} ng-repeat="pay in payMethod">
                    <img style="width:30px;height:30px;float:left" src="{{pay.imgUri}}" />
                    <p style="color:black;float:left;height:30px;margin-left:15px;margin-top:2px">{{pay.text}}</p>
                </ion-radio>
            </ion-list>
    </ion-content>
</ion-view>