<ion-view view-title="选择支付方式" class="ion-view-costum">
    <ion-nav-bar class="ion-nav-bar-costume" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-back" ng-click="goBack()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-list class="input-costume">
                <ion-item class="input-costume" style="color:#383641;">
                    <span class="span-black">请选择金额:</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="select-type"><input type="radio" name="amount" ng-model="balance.amount" checked  value='0.02' />0.02</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="select-type"><input type="radio" name="amount" ng-model="balance.amount" value='50' />50</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="select-type"><input type="radio" name="amount" ng-model="balance.amount" value='100' />100</label>
                </ion-item>
                <ion-radio class="input-costume-radio" ng-model="balance.channel" value={{pay.name}} ng-repeat="pay in payMethod">
                    <img style="width:30px;height:30px;float:left" src="{{pay.imgUri}}" />
                    <p style="color:black;float:left;height:30px;margin-left:15px;margin-top:2px">{{pay.text}}</p>
                </ion-radio>
            </ion-list>
            <button class="button allbutton button-block button-small" ng-disabled="disabled" style="width:90%;margin-left:5%;" ng-click="recharge()">确定</button>
    </ion-content>
</ion-view>