<ion-view view-title="洗车类型" class="ion-view-costum">
    <ion-nav-bar class="ion-nav-bar-costume" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-chevron-left" ng-click="goBackOfWashType()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-subheader="false">

        <ul class="list" ng-repeat="type in types">

            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-checked="type.check==1" ng-true-value="1" ng-false-value="2" ng-model="type.check"/>
                </label>
                <div class="item-content">
                    <h2>{{type.name}}</h2><br />
                    <p>服务内容：{{type.note}}</p><br />
                    <p>价格：￥{{type.amount}}</p><br />

                </div>

            </li>

        </ul>
    </ion-content>
</ion-view>