<ion-view view-title="服务介绍" class="ion-view-costum">
    <ion-nav-bar class="ion-nav-bar-costume" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-back" ng-click="goBackOfMain()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">

        <ion-list>
                <div ng-repeat="type in types" ng-click="goToTypeNote(type)" class="button-clear" style="width:33%;float:left">
                    <span><img style="width:100%" src="{{type.imgUri}}" /></span>
                    <p style="text-align:center;margin-bottom:0;">{{type.name}}</p>
                    <p style="text-align:center" class="a-custome">{{type.amount|currency:'￥'}}</p>
                </div>
        </ion-list>
    </ion-content>
</ion-view>