<ion-view view-title="洗车类型" class="ion-view-costum">
    <ion-nav-bar class="ion-nav-bar-costume" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-chevron-left" ng-click="goBackOfWashType()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button-clear icon ion-checkmark-round" ng-click="goBackOfWashType()"></button>
        </ion-nav-buttons>
</ion-nav-bar>
    <ion-content has-subheader="false">
        <ion-list class="input-costume">
            <ion-checkbox ng-model="types[0].check" ng-true-value="1" ng-false-value="1" class="input-costume" disabled>
                <h2>{{types[0].name}}</h2><br />
                <p>价格：￥{{types[0].amount}}</p><br />
            </ion-checkbox>
            <ion-checkbox ng-model="type.check" ng-click="goToTypeNote(type)" ng-repeat="type in types" ng-true-value="1" ng-false-value="2" class="input-costume" ng-hide="type ==types[0]">
                <h2>{{type.name}}</h2><br />
                <p>价格：￥{{type.amount}}</p><br />
            </ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>