<ion-view view-title="服务介绍" class="ion-view-costum">
    <ion-nav-bar class="ion-nav-bar-costume" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-chevron-left" ng-click="goBackOfMain()" style="color:white;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-subheader="false">

        <ion-list>
            <ion-item ng-repeat="type in types" ng-click="goToTypeNote(type)" class="input-costume">
                    <p>{{type.name}}</p>
                    <span class="badge a-custome">{{type.amount|currency:'￥'}}</span>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>