<ion-view view-title="洗车类型" class="ion-view-costum">
    <ion-nav-bar class="ion-nav-bar-costume" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-chevron-left" ng-click="goBackOfWashType()" style="color:white;width:40px"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button-clear" ng-click="goBackOfWashType()" style="color:#ffbc01;font-weight:600;">完成</button>
        </ion-nav-buttons>
</ion-nav-bar>
    <ion-content has-subheader="false">
        <ion-list ng-repeat="type in types" class="input-costume">
            <ion-checkbox ng-model="types[0].check" ng-true-value="1" ng-false-value="1" class="input-costume" disabled>
                <p>{{types[0].name}}</p><br />
                <p>价格：{{types[0].amount|currency:'￥'}}</p><br />
            </ion-checkbox>
            <ion-checkbox ng-model="type.check" ng-repeat="type in types" ng-true-value="1" ng-false-value="2" class="input-costume" ng-hide="type ==types[0]">
                <p>{{type.name}}</p><br />
                <p>价格：{{type.amount|currency:'￥'}}</p><br />
            </ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>