
<ion-view align-title="center" title="点趣车生活">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>back
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header">
        <!-- 图片轮播 -->
        <ion-slide-box >
            <ion-slide>
                <div style="line-height:200px;border:1px solid rgb(238,238,238);border-radius:3px;text-align:center;width:100%;height:auto;background-color:rgb(255,255,255);">
                     <a href="#">
                         <i class="icon ion-image" style="font-size:64px;color:rgb(136,136,136);vertical-align：middle;"></i>
                     </a>
                 </div>
            </ion-slide>
            <ion-slide>
                <div style="line-height:200px;border:1px solid rgb(238,238,238);border-radius:3px;text-align:center;width:100%;height:auto;background-color:rgb(255,255,255);">
                     <a href="#">
                         <i class="icon ion-image" style="font-size:64px;color:rgb(136,136,136);vertical-align：middle;"></i>
                     </a>
                 </div>
            </ion-slide>
         </ion-slide-box>

        <form>
            <ion-list>
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="tel" name="userName" placeholder="请输入手机号码" ng-model="user.userName" required>
                </label>

                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="password" name="password" placeholder="请输入密码" ng-model="user.password" required>
                </label>

            </ion-list>
            <div class="button-bar"></div>

            <button class="button button-stable button-block " ng-click="login()">登录</button>
            <button class="button button-stable button-block ">注册</button>
        </form>
    </ion-content>

</ion-view>

