.ion-view-costum{
    background-color:#374d58;
}
.ion-nav-bar-costume {
    background-color:#425a66;
    font-size:x-large;
    font-weight:900;
    color:white;
}
.input-costume{
    color:white;
    background-color:#374d58;
}
h2,h3,h4,p{
    color:white;
}
ion-item.item div.item-content{
    background-color:#374d58;
}
ion-list div label.item div.item-content{
    background-color:#374d58;
}
h2,h3,h4,p,.item p{
    color:white;
}
.platform-android .actionsheet{
    margin-top:-32px;
}
ion-radio.selected{
    background-color:#00ff21;
}