.ion-view-costum{
    background-color:#17bed0;
}

.ion-nav-bar-costume {
    background-color:#17bed0;
    color:white;
    border-bottom:1px solid white;
    
}
/*页面标题字体修改*/
div.title.title-center.header-item{
    font-size:large;
    font-weight:700;
}
.input-costume{
    color:white;
    background-color:#17bed0;
}
.input-costume:active{
    background-color:#17bed0;
}
.input-costume:checked{
    background-color:#17bed0;
}
ion-radio:checked{
    background-color:#17bed0;
}
h1,h2,h3,h4,p{
    color:white;
}
p{
    font-size:14px;
    font-weight:600;
}
.makeorder-p{
    font-weight:600;
}
.home-p{
    font-weight:600;
    font-size:small;
}
.makeorder-note-p{
    font-weight:600;
}
.makeorder-currency-p{
    font-size:40px;
    text-align:right;
}
.makeorder-money-p{
    font-weight:600;
    text-align:left;
}
ion-item.item div.item-content{
    background-color:#17bed0;
}
ion-list div label.item div.item-content{
    background-color:#17bed0;
}
h2,h3,h4,p,.item p{
    color:white;
}
/*button*/
.allbutton{
    background-color:#fafb75;
    border-color:#fafb75;
    font-size:12px;
    color:black;
    text-align:center;
    border:#fafb75 solid ;
    border-radius:3px;
    margin-top:6px;
    margin-top:6px;
    line-height:none;
}
.allbutton:active{
    background-color:#f2f376;
    border-color:#f2f376;
}
/*注册按钮*/
.registerInloginPage{
    background-color:#cb6363;
    font-size:12px;
    color:black;
    text-align:center;
    border:#cb6363 solid ;
    border-radius:3px;
    margin-top:6px;
    margin-top:6px;
}
.registerInloginPage:active{
    background-color:#b76969;
    border-color:#b76969;
}
/*输入框内的输入字体*/
.member-span-text{
    font-size:14px;
    color:white;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #666; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
color: #666; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
color: #666; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #666; 
}
.autoadd-p{
    font-weight:600;
}
label div.item-content:checked{
    background-color:#17bed0;
}
.makeorder-washtype-span{
    padding-bottom:4px;
    padding-top:4px;
    padding-left:4px;
    padding-right:4px;
    width:inherit;
    border-color:#0082d4;
    background-color:#0082d4;

}
.makeorder-auto-span{
    padding-bottom:7px;
    padding-top:7px;
    padding-left:4px;
    padding-right:4px;
    text-align:center;
    width:40px;
    background-color:#ff6e0b;
}
.makeorder-district-span{
    padding-bottom:7px;
    padding-top:7px;
    padding-left:4px;
    padding-right:4px;
    text-align:center;
    width:40px;
    background-color:#808080;
}
.makeorder-note-span{
    padding-bottom:7px;
    padding-top:7px;
    padding-left:4px;
    padding-right:4px;
    text-align:center;
    width:40px;
    background-color:#17bed0;
}
.makeorder-input{
    background-color:white;
    padding:0px 0px 0px 0px;
    color:black;
    font-weight:600;
    text-align:center;
}
.makeorder-label{
    border-color:#17bed0;
    background-color:#17bed0;
}
.washtype-ion-checkbox{
    padding-bottom:6.5px;
    padding-top:6.5px;
    border:1px solid #374d58;
    width:auto;
}
.makeorder-textarea{
    border:0.5px thick #dcdcdc;
}
.div-col-center{
    text-align:center;
}
.div-col-innerdiv{
    margin-left:auto;margin-right:auto;
}

