
.ownbutton-circle {
    background-color:#17bed0;
    border:none;
    -webkit-border-radius: 60px;/*72px;*/
    -moz-border-radius: 60px;
    border-radius: 60px;
    width: 60px;
    line-height: 60px;
    height: 60px;
    padding: 0px;
}
.ownbutton-circle:active{
    background-color:#17bed0;
}
.ownbutton-circle:focus{
    background-color:#17bed0;
}
.button-washauto-circle {
    background-color:#17bed0;
    border:none;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    width: 200px;
    line-height: 200px;
    height: 200px;
    padding: 0px;
}
.button-washauto-circle:active{
    background-color:#17bed0;
}
.row-text-align{
     text-align:center;
}
/*洗车店*/
.button-washstore-accept{
    background-color:#ffbc01;
}
.button-washstore-complete{
    background-color:#ffbc01;
}
.button-washstore-scan{
    background-color:#ffbc01;
}

