/*首页*/
.ownbutton-circle {
    background-color:#374D58;
    border:none;
    -webkit-border-radius: 60px;/*60px;*/
    -moz-border-radius: 60px;
    border-radius: 60px;
    width: 60px;
    line-height: 60px;
    height: 60px;
    padding: 0px;
}
.ownbutton-circle:active{
    background-color:#374D58;
}
.ownbutton-circle:focus{
    background-color:#374D58;
}
.button-washauto-circle {
    background-color:#374D58;
    border:none;
    -webkit-border-radius: 150px;/*200*/
    -moz-border-radius: 150px;
    border-radius: 150px;
    width: 150px;
    line-height: 150px;
    height: 150px;
    padding: 0px;
}
.button-washauto-circle:active{
    background-color:#374D58;
}
.mybutton-circle {
    background-color:#374D58;
    border:none;
    -webkit-border-radius: 100px;/*72px;*/
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 100px;
    line-height: 100px;
    height: 100px;
    padding: 0px;
}
.mybutton-circle:active{
    background-color:#374D58;
}
.mybutton-circle:focus{
    background-color:#374D58;
}
.row-text-align{
     text-align:center;
}
.washtype-img{
    background-color:#374D58;
    border:none;
    -webkit-border-radius: 100px;/*72px;*/
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 100px;
    line-height: 100px;
    height: 100px;
    padding: 0px;
}
/*洗车店*/
.button-washstore-accept{
    background-color:#FFBC01;
}
.button-washstore-complete{
    background-color:#FFBC01;
}
.button-washstore-scan{
    background-color:#FFBC01;
}

