<ion-view  align-title="center" title="点趣上门洗车" class="ion-view-costum">
    <div>
        <ion-nav-bar class="ion-nav-bar-costume" align-title="center"></ion-nav-bar>
    </div>

    <ion-content padding="true" class="has-header">
        <div style="height:50px"></div>
        <div class="row row-bottom row-text-align" >
            <div class="col col-20 div-col-center" style="padding:0px 0px 0px 0px;">
                <div class="div-col-innerdiv">
                    <button class="button ownbutton-circle" ng-click="goToMyDQ()">
                        <img src="image/mydianqu.png" style="vertical-align:central;height:100%; width:100%;" />
                    </button>
                    <div style="height:5px"></div>
                    <p class="home-p">我的点趣</p>
                </div>
                
            </div>
            <div class="col col-60"></div>
            <div class="col col-20 div-col-center" style="padding:0px 0px 0px 0px;">
                <div class="div-col-innerdiv">
                    <button class="button ownbutton-circle" ng-click="goToMyOrder()">
                        <img src="image/myorder.png" style="vertical-align:central;height:100%; width:100%;" />
                    </button>
                    <div style="height:5px"></div>
                    <p class="home-p">我的订单</p>
                </div>
                
            </div>
        </div>  
        <div class="div-col-center">
            <div class="div-col-innerdiv">
                <button class="button button-washauto-circle" ng-click="goToBookWash()">
                    <img src="image/iwantwash.png" style="vertical-align:central; height:100%; width:100%;" />
                </button>
                <div style="height:10px"></div>
                <p class="home-p2">我要洗车</p>
            </div>
        </div>
        <div class="row row-top row-text-align">
            <div class="col col-20 div-col-center" style="padding:0px 0px 0px 0px;">
                <div class="div-col-innerdiv">
                    <button class="button ownbutton-circle" ng-click="goToWashTypeIntroduce()">
                        <img src="image/aboutudianqu.png" style="vertical-align:central;height:100%; width:100%;" />
                    </button>
                    <div style="height:5px"></div>
                    <p class="home-p">关于点趣</p>
                </div>
                
            </div>
            <div class="col col-60"></div>
            <div class="col col-20 div-col-center" style="padding:0px 0px 0px 0px;">
                <div class="div-col-innerdiv">
                    <button class="button ownbutton-circle" ng-click="goToAutoList()">
                        <img src="image/sharewithFriends.png" style="vertical-align:central;height:100%; width:100%;" />
                    </button>
                    <div style="height:5px"></div>
                    <p class="home-p">我的车辆</p>
                </div>
                
            </div>
        </div>
    </ion-content>
</ion-view>

