<ion-view id="ss" align-title="center" title="点趣车生活" class="ion-view-costum">
    <div>
        <ion-nav-bar class="ion-nav-bar-costume" align-title="center" style="font-size:x-large;font-weight:900;"></ion-nav-bar>
    </div>

    <ion-content padding="true" class="has-header">
        <!-- 图片轮播 -->
        <ion-slide-box>
            <ion-slide>
                <div style="line-height:100%;border:1px solid rgb(238,238,238);border-radius:3px;text-align:center;width:100%;height:180px;background-color:rgb(255,255,255);">
                    <a href="#">
                        <img src="image/customerHome2.jpg" height="100%" width="100%" style="vertical-align:central;"/>
                    </a>
                </div>
            </ion-slide>
            <ion-slide>
                <div style="line-height:100%;border:1px solid rgb(238,238,238);border-radius:3px;text-align:center;width:100%;height:180px;background-color:rgb(255,255,255);">
                    <a href="#">
                        <img src="image/customerHome2.jpg" height="100%" width="100%" style="vertical-align:central;"/>
                    </a>
                </div>
            </ion-slide>
            <ion-slide>
                <div style="line-height:100%;border:1px solid rgb(238,238,238);border-radius:3px;text-align:center;width:100%;height:180px;background-color:rgb(255,255,255);">
                    <a href="#">
                        <img src="image/customerHome2.jpg" height="100%" width="100%" style="vertical-align:central;" />
                    </a>
                </div>
            </ion-slide>
        </ion-slide-box>

        <div class="spacer" style="height:25px;"></div>
        <!-- 两排按钮 -->
        <div class="row">
            <div class="col"><a class="ownbutton ownbutton-circle" ng-click="goToBookWash()">洗车</a></div>
            <div class="col"><a class="ownbutton ownbutton-circle" ng-click="goToMyOrder()">订单</a></div>
            <div class="col"><a class="ownbutton ownbutton-circle" ng-click="goToAutoList()">车辆</a></div>
        </div>
        <div class="row">
            <div class="col"><a class="ownbutton ownbutton-circle">优惠券</a></div>
            <div class="col"><a class="ownbutton ownbutton-circle" ng-click="goToWashTypeIntroduce()">服务</a></div>
            <div class="col"><a class="ownbutton ownbutton-circle" ng-click="goToMyDQ()">我的</a></div>
        </div>
 
    </ion-content>
</ion-view>
    
