<ion-view  align-title="center" title="点趣车生活" class="ion-view-costum">
    <div>
        <ion-nav-bar class="ion-nav-bar-costume" align-title="center"></ion-nav-bar>
    </div>

    <ion-content padding="true" class="has-header">
        <div class="row row-bottom row-text-align">
            <div class="col col-20">
                <button class="button ownbutton-circle" ng-click="goToMyDQ()">
                    <img src="image/mydianqu.png" style="vertical-align:central;height:100%; width:100%;" />
                </button>
                <p class="home-p">点趣</p>
            </div>
            <div class="col col-60"></div>
            <div class="col col-20">
                <button class="button ownbutton-circle" ng-click="goToMyOrder()">
                    <img src="image/myorder.png" style="vertical-align:central;height:100%; width:100%;" />
                </button>
                <p class="home-p">订单</p>
            </div>
        </div>  
        <div class="row row-center row-text-align">
            <div class="col col-10"></div>
            <div class="col col-80">
                <button class="button button-washauto-circle" ng-click="goToBookWash()">
                    <img src="image/iwantwash.png" style="vertical-align:central;height:100%; width:100%;" />
                </button>
                <p class="home-p">洗车</p>
            </div>
            <div class="col col-10"></div>
        </div>
        <div class="row row-top row-text-align">
            <div class="col col-20">
                <button class="button ownbutton-circle" ng-click="goToWashTypeIntroduce()">
                    <img src="image/aboutudianqu.png" style="vertical-align:central;height:100%; width:100%;" />
                </button>
                <p class="home-p">服务</p>
            </div>
            <div class="col col-60"></div>
            <div class="col col-20">
                <button class="button ownbutton-circle" ng-click="goToAutoList()">
                    <img src="image/sharewithFriends.png"  style="vertical-align:central;height:100%; width:100%;" />
                </button>
                <p class="home-p">车辆</p>
            </div>
        </div>
    </ion-content>
</ion-view>

