<ion-view title="添加车辆信息">
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>back
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button-clear" ng-click="skipToHome()">跳过</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <i class="icon ion-model-s placeholder-icon"></i>
                    <input type="text" name="pn" ng-model="pn" ng-pattern="pnRe" placeholder="请输入车牌号" required>
                </label>
                <div class="spacer" style="height:10px;"></div>
                <label class="item item-input">
                    <i class="icon ion-ios-color-filter-outline placeholder-icon"></i>
                    <input type="text" name="brand" placeholder="请输入品牌" required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-android-color-palette placeholder-icon"></i>
                    <input type="text" name="color" placeholder="请输入颜色"  >
                </label>
                <label class="item item-input">
                    <i class="icon ion-android-options placeholder-icon"></i>
                    <input type="text" name="model" placeholder="请输入型号"  >
                </label>
                <div class="spacer" style="height:10px;"></div>
                <!-- 选择小区 -->
                <label class="item item-input item-select">
                    <div class="input-label">请选择城市：</div>
                    <select ng-model="mycity" ng-options="city.name for city in cities" ng-change="cityToRegion(mycity)">
                        <option value="">请选择</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">请选择区域：</div>
                    <select ng-model="myregion" ng-options="region.name for region in regions" ng-change="regionToDistrict(myregion)">
                        <option value="">请选择</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">请选择小区：</div>
                    <select ng-model="vm.mydistrict" ng-options="district for district in districts">
                        <option value="">请选择</option>
                    </select>
                </label>
            </ion-list>
            <button class="button button-block button-positive " ng-click="addAuto()">确认</button>
        </form>
    </ion-content>
</ion-view>