<ion-view view-title="车辆列表">
    <ion-nav-bar class="bar-stable" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-ios-arrow-back" ng-click="goBack()"></button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button-clear" ng-click="goToAddauto()">
                <span class="icon ion-plus-round"></span>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-subheader="false">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <div style="text-align:center;" ng-show="hasNoAuto">
            <h4 >暂无车辆,赶紧来添加吧</h4>
        </div>
        <ion-list>
            <ion-item ng-repeat="auto in autoInfo">
                <h2>车牌号：{{auto.pn}}</h2>
                <br />
                <p>品牌:{{auto.brand}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 型号：{{auto.model}}</p>
                <ion-option-button class="button-assertive" ng-click="deleteAuto(auto)">
                    <i class="icon ion-ios-trash"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>