<ion-view title="添加车辆信息">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-arrow-left-c" ng-click="goBack()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <i class="icon ion-model-s placeholder-icon"></i>
                    <input type="text" name="pn" ng-model="autoInfo.pn" placeholder="请输入车牌号" required>
                </label>
                <div class="spacer" style="height:10px;"></div>
                <label class="item item-input">
                    <i class="icon ion-ios-color-filter-outline placeholder-icon"></i>
                    <input type="text" name="brand" ng-model="autoInfo.brand" placeholder="请输入品牌" required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-android-color-palette placeholder-icon"></i>
                    <input type="text" name="color" ng-model="autoInfo.color" placeholder="请输入颜色"  >
                </label>
                <label class="item item-input">
                    <i class="icon ion-android-options placeholder-icon"></i>
                    <input type="text" name="model" ng-model="autoInfo.model" placeholder="请输入型号"  >
                </label>
                <div class="spacer" style="height:10px;"></div>
                <!-- 选择小区 -->
                <a class="item item-icon-right" ng-click="goToCitySelect()">
                    选择城市
                    <i class="icon ion-chevron-right"></i>

                    <div class="item-content">
                        <ul ng-repeat="city in cities" ng-show="city.id ==selected.selectedCityId">
                            <li>
                                选择城市:{{city.name}}
                            </li>
                        </ul>
                    </div>
                </a>
                <a class="item item-icon-right" ng-click="goToRegionSelect()">
                    选择区域
                    <i class="icon ion-chevron-right"></i>

                    <div class="item-content">
                        <ul ng-repeat="region in regions" ng-show="region.id ==selected.selectedRegionId">
                            <li>
                                选择区域:{{region.name}}
                            </li>
                        </ul>
                    </div>
                </a>
                <a class="item item-icon-right" ng-click="goToDistrictSelect()">
                    选择小区
                    <i class="icon ion-chevron-right"></i>

                    <div class="item-content">
                        <ul ng-repeat="dis in districts" ng-show="dis.id ==selected.selectedDistrictId">
                            <li>
                                选择小区:{{dis.name}}
                            </li>
                        </ul>
                    </div>
                </a>
                <label class="item item-input item-select">
                    <div class="input-label">请选择城市：</div>
                    <select ng-model="mycity" ng-options="city.name for city in cities" ng-change="cityToRegion(mycity)">
                        <option value="">请选择</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">请选择区域：</div>
                    <select ng-model="myregion" ng-options="region.name for region in regions" ng-change="regionToDistrict(myregion)">
                        <option value="">请选择</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">请选择小区：</div>
                    <select ng-model="mydistrict" ng-options="district.name for district in districts" ng-change="getDefaultRegionId(mydistrict.id)">
                        <option value="">请选择</option>
                    </select>
                </label>
            </ion-list>
            <button class="button button-block button-positive " ng-click="addAuto()">确认</button>
        </form>
    </ion-content>
</ion-view>