<ion-view title="车辆管理">
    <div>
         <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear">
                <div><i class="ion-ios-arrow-left"></i></div>
            </ion-nav-back-button>

            <ion-nav-buttons side="right">
                <a class="button button-clear ion-plus-round button-stable" ng-click="addAuto()"></a>
            </ion-nav-buttons>
         </ion-nav-bar>
    </div>

    <!--车辆展示-->
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in autoItems"
                      class="item-thumbnail-left">

                <h2>{{item.pn}}{{item.brand}}</h2>
                
                <ion-option-button class="button-info"
                                   ng-click="delete(item)">
                    <i class="icon ion-ios-trash"></i>
                </ion-option-button>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
