<ion-view view-title="选择城市" class="ion-view-costum">
    <ion-nav-bar class="ion-nav-bar-costume" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-back" ng-click="goBackOfCitySelect()"></button>

        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content>
        <ion-refresher on-refresh="doRefreshOfCity()"></ion-refresher>

        <ion-list ng-repeat="city in cities" >
            <ion-radio ng-model="autoInfo.selectedCityId"  ng-click="goBackOfCitySelect()" value={{city.id}} class="input-costume-radio" ><p style="color:#383641;">{{city.name}}</p></ion-radio>
        </ion-list>

    </ion-content>

</ion-view>