<ion-view view-title="选择小区">
    <ion-nav-bar class="bar-stable" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-arrow-left-c" ng-click="goBackOfDistrictSelect()"></button>

        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content has-subheader="false">
        <ion-refresher on-refresh="doRefreshOfDistrict()"></ion-refresher>

        <ion-list ng-repeat="district in districts">
            <ion-radio ng-model="selected.selectedDistrictId" value={{district.id}}>{{district.name}}</ion-radio>
        </ion-list>

    </ion-content>

</ion-view>