<ion-view view-title="选择区域" class="ion-view-costum">
    <ion-nav-bar class="ion-nav-bar-costume" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-back" ng-click="goBackOfRegionSelect()"></button>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content>
        <ion-refresher on-refresh="doRefreshOfRegion()"></ion-refresher>
        <div style="text-align:center;margin-top:5px;" ng-show="autoInfo.selectedCityId==undefined">
            <p>请先选择城市</p>
        </div>

        <ion-list ng-repeat="region in regions"  ng-show="region.pid ==autoInfo.selectedRegionPid" >
            <ion-radio ng-model="autoInfo.selectedRegionId"  ng-click="goBackOfRegionSelect()" value={{region.id}} class="input-costume-radio"><p style="color:black;">{{region.name}}</p></ion-radio>
        </ion-list>

    </ion-content>

</ion-view>