<ion-view view-title="{{selectOrder.orderNo}}" class="ion-view-costum">
    <ion-nav-bar class="ion-nav-bar-costume" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-arrow-back" ng-click="goBackOfOrderList()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <label class="item item-input input-costume">
                <span class="input-label">状态</span>
                <i ng-show="selectOrder.state==0">未支付</i>
                <i ng-show="selectOrder.state==1">已下单</i>
                <i ng-show="selectOrder.state==10">车主取消</i>
                <i ng-show="selectOrder.state==11">门店取消</i>
                <i ng-show="selectOrder.state==2||selectOrder.state==3">洗车中</i>
                <i ng-show="selectOrder.state==4||selectOrder.state==5">已完成</i>
            </label>
            <label class="item item-input input-costume">
                <span class="input-label">车牌号</span>
                <i>{{selectOrder.autoPN}}</i>
            </label>
            <label class="item item-input input-costume" ng-show="selectOrder.washerName != ''">
                <span class="input-label">洗车工姓名</span>
                <i>{{selectOrder.washerName}}</i>
            </label>

            <label class="item item-input input-costume">
                <span class="input-label">下单时间</span>
                <i>{{selectOrder.orderTime}}</i>
            </label>
            <label class="item item-input input-costume" ng-show="selectOrder.finishTime!=null">
                <span class="input-label">结束时间</span>
                <i>{{selectOrder.finishTime}}</i>
            </label>
            <label class="item item-input input-costume">
                <span class="input-label">洗车类型</span>
                <i>{{selectOrder.washTypeName}}</i>
            </label>
            <label class="item item-input input-costume">
                <span class="input-label">金额</span>
                <a class="a-custome">{{selectOrder.finalAmount}}元</a>
            </label>
            <label class="item item-input input-costume">
                <span class="input-label">我的需求</span>
                <i>{{selectOrder.userNote}}</i>
            </label>
            <label class="item item-input input-costume" ng-show="selectOrder.customerGrade!=''">
                <span class="input-label">评分</span>
                <i>{{selectOrder.customerGrade}}</i>
            </label>
            <label class="item item-input input-costume" ng-show="selectOrder.state==4||selectOrder.state==5">
                <span class="input-label">洗车工反馈</span>
                <i>{{selectOrder.washerNote}}</i>
            </label>
            <label class="item item-input input-costume" ng-show="selectOrder.gradeUserNote!=''">
                <span class="input-label">意见</span>
                <i>{{selectOrder.gradeUserNote}}</i>
            </label>
            <div ng-show="selectOrder.state==4||selectOrder.state==5">
                <label class="item item-input input-costume">
                    <i>照片</i>
                </label>
                <div class="row" style="width:100%;margin:0px;padding:0px;">
                    <div class="col"><img src={{selectOrder.photoUrl1}} id="img1" ng-click="gotoPhoto(1)" style="width:100%;height:auto;float:left;margin:0px;padding:0px"></div>
                    <div class="col"><img src={{selectOrder.photoUrl2}} id="img2" ng-click="gotoPhoto(2)" style="width:100%;height:auto;float:left;margin:0px;padding:0px"></div>
                    <div class="col"><img src={{selectOrder.photoUrl3}} id="img3" ng-click="gotoPhoto(3)" style="width:100%;height:auto;float:left;margin:0px;padding:0px"></div>
                </div>
            </div>
        </ion-list>
        
        <div class="spacer" style="height:10px;"></div>
        <div ng-show="selectOrder.state==4">
            请为此次洗车评分：

            <!--添加星级评价-->
            <fieldset class="score">
                <legend>Score:</legend>
                <input type="radio" id="score-5" name="score" value="5" ng-model="selectOrder.gradeUser" style="position:absolute;top: -2em;clip:rect(0,0,0,0);" />
                <label title="5 stars" for="score-5">5 stars</label>

                <input type="radio" id="score-4" name="score" value="4" ng-model="selectOrder.gradeUser" style="position:absolute;top: -2em;clip:rect(0,0,0,0);" />
                <label title="4 stars" for="score-4">4 stars</label>

                <input type="radio" id="score-3" name="score" value="3" ng-model="selectOrder.gradeUser" style="position:absolute;top: -2em;clip:rect(0,0,0,0);" />
                <label title="3 stars" for="score-3">3 stars</label>

                <input type="radio" id="score-2" name="score" value="2" ng-model="selectOrder.gradeUser" style="position:absolute;top: -2em;clip:rect(0,0,0,0);" />
                <label title="2 stars" for="score-2">2 stars</label>

                <input type="radio" id="score-1" name="score" value="1" ng-model="selectOrder.gradeUser" style="position:absolute;top: -2em;clip:rect(0,0,0,0);" />
                <label title="1 stars" for="score-1">1 stars</label>
            </fieldset>
            <div class="col col-100 item item-input input-costume">
                <textarea placeholder="您有什么意见，请写在这里。" ng-model="selectOrder.gradeUserNote" rows="5" class="input-costume" style="color:white;width:100%;height:inherit"></textarea>
            </div>
            <button class="allbutton  button-block button-small" ng-show="selectOrder.state==4" style="width:90%;margin-left:5%;" ng-click="judge(selectOrder)">确认</button>
        </div>


    </ion-content>
</ion-view>