<ion-view view-title="{{selectOrder.orderNo}}" class="ion-view-costum">
    <ion-nav-bar class="ion-nav-bar-costume" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-chevron-left" ng-click="goBackOfOrderList()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <label class="item item-input input-costume">
                <span class="input-label"><h2>状态</h2></span>
                <p ng-show="selectOrder.state==0">未支付</p>
                <p ng-show="selectOrder.state==1">已下单</p>
                <p ng-show="selectOrder.state==10">车主取消</p>
                <p ng-show="selectOrder.state==11">门店取消</p>
                <p ng-show="selectOrder.state==2||selectOrder.state==3">洗车中</p>
                <p ng-show="selectOrder.state==4||selectOrder.state==5">已完成</p>
            </label>
            <label class="item item-input input-costume">
                <span class="input-label"><h2>车牌号</h2></span>
                <p>{{selectOrder.autoPN}}</p>
            </label>
            <label class="item item-input input-costume">
                <span class="input-label"><h2>清洗工编号</h2></span>
                <p>{{selectOrder.washerId}}</p>
            </label>

            <label class="item item-input input-costume">
                <span class="input-label"><h2>预约时间</h2></span>
                <p>{{selectOrder.orderTime}}</p>
            </label>
            <label class="item item-input input-costume">
                <span class="input-label"><h2>结束时间</h2></span>
                <p>{{selectOrder.finishTime}}</p>
            </label>
            <label class="item item-input input-costume">
                <span class="input-label"><h2>金额</h2></span>
                <p>{{selectOrder.finalAmount}}元</p>
            </label>
            <label class="item item-input input-costume">
                <span class="input-label"><h2>洗车备注</h2></span>
                <p>{{selectOrder.userNote}}</p>
            </label>
            <label class="item item-input input-costume">
                <span class="input-label"><h2>评分</h2></span>
                <p>{{selectOrder.gradeUser}}</p>
            </label>
        </ion-list>
        
        <div class="spacer" style="height:10px;"></div>
        <div ng-show="selectOrder.state==4">
            请为此次洗车评分：

            <!--添加星级评价-->
            <fieldset class="score">
                <legend>Score:</legend>
                <input type="radio" id="score-5" name="score" value="5" ng-model="selectOrder.gradeUser" style="position:absolute;top: -2em;clip:rect(0,0,0,0);" />
                <label title="5 stars" for="score-5">5 stars</label>

                <input type="radio" id="score-4" name="score" value="4" ng-model="selectOrder.gradeUser" style="position:absolute;top: -2em;clip:rect(0,0,0,0);" />
                <label title="4 stars" for="score-4">4 stars</label>

                <input type="radio" id="score-3" name="score" value="3" ng-model="selectOrder.gradeUser" style="position:absolute;top: -2em;clip:rect(0,0,0,0);" />
                <label title="3 stars" for="score-3">3 stars</label>

                <input type="radio" id="score-2" name="score" value="2" ng-model="selectOrder.gradeUser" style="position:absolute;top: -2em;clip:rect(0,0,0,0);" />
                <label title="2 stars" for="score-2">2 stars</label>

                <input type="radio" id="score-1" name="score" value="1" ng-model="selectOrder.gradeUser" style="position:absolute;top: -2em;clip:rect(0,0,0,0);" />
                <label title="1 stars" for="score-1">1 stars</label>
            </fieldset>

            <button class="button-balanced button-block" ng-show="selectOrder.state==4" ng-click="judge(selectOrder)">确认</button>
        </div>
                <button class="button-block buton-energized" ng-show="selectOrder.state==5">分享</button>


    </ion-content>
</ion-view>