<ion-view view-title="洗车预约">
	<ion-nav-bar class="bar-stable" align-title="center">
		<ion-nav-back-button class="button-clear">
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content has-subheader="false">
		<!-- 选择洗车类型 -->
		<div class="list">
			<div class="item item-divider">洗车类型</div>
			<a class="item item-icon-left item-icon-right" ng-click="goToWashType()">
    			<i class="icon ion-model-s"></i>
    				快洗
    			<i class="icon ion-ios-telephone-outline"></i>
 			</a>
		</div>
		<!-- 车辆信息、预约时间、详细地址（可选） -->
		<div class="spacer" style="height:10px;"></div>
		<div class="list">

                <a class="item item-icon-left  item-icon-right" ng-click="goToAutoList()">
                    <i class="icon ion-settings"></i>
                    {{myAuto.pn}}
                    <i class="icon ion-chevron-right"></i>
                </a>

                <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-chatbubble-working"></i>
                    小区
                    <i class="icon ion-chevron-right"></i>
                </a>

                <a class="item item-icon-left item-icon-right" ng-click="goToEditOwnerInfo()">
                    <i class="icon ion-gear-a"></i>
                    预约时间
                    <i class="icon ion-chevron-right"></i>
                </a>

                <a class="item item-icon-left item-icon-right" ng-click="popover.show($event)">
                    <i class="icon ion-mic-a"></i>
                    详细地址
                    <i class="icon ion-ios-telephone-outline"></i>
                </a>
                <button class="button button-block button-positive ">提交</button>
        </div>
	</ion-content>
</ion-view>