<ion-view view-title="洗车预约">
    <ion-nav-bar class="bar-stable" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-arrow-left-c" ng-click="goBackMain()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-subheader="false">

        <!-- 选择洗车类型 -->
        <div class="list">
            <a class="item item-icon-right" ng-click="goToWashType()">
                选择洗车类型
                <div class="item-content">
                    <ul ng-repeat="type in types" ng-show="type.check ==1">
                        <li>
                            <h2>服务内容：{{type.name}}&nbsp;&nbsp;价格：￥{{type.amount}}</h2>
                        </li>
                    </ul>
                </div>
                <i class="icon ion-chevron-right"></i>
            </a>

            <!-- 车辆信息、预约时间、详细地址（可选） -->

            <a class="item item-icon-right" ng-click="goToAutoList()">
                选择车辆
                <i class="icon ion-chevron-right"></i>
                <div class="item-content">
                    <ul ng-repeat="auto in autoInfo" ng-show="selectedAuto.selectedAutoId ==auto.id">
                        <li>
                            选择车辆:{{auto.pn}}
                        </li>
                    </ul>
                </div>
            </a>
            <a class="item item-icon-right" ng-click="goToRegionSelect()">
                选择小区
                <i class="icon ion-chevron-right"></i>

                <div class="item-content">
                    <ul ng-repeat="dis in districts" ng-show="dis.id ==selectedAuto.selectedRegionId">
                        <li>
                            选择小区:{{dis.name}}
                        </li>
                    </ul>
                </div>
            </a>
            
            <a class="item item-icon-right">
            需要支付
                <span class="badge badge-light">{{totalAmount}}&nbsp 元</span>
                
            </a>
            <label class="item item-input">
                <textarea placeholder="您还有什么要求呢？" ng-model="order.userNote"></textarea>
            </label>

            <button class="button button-block button-positive " ng-click="commitOrder()">支付</button>

        </div>
    </ion-content>
</ion-view>