<ion-view view-title="我的订单">
    <ion-nav-bar class="bar-stable" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-arrow-left-c" ng-click="goBackOfMain()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <ion-list class="list card" ng-repeat="order in orderList">
            <ion-item >
                <div>
                    <h2>车牌号：{{order.pn}}</h2>
                    <p>时间：{{order.date}} &nbsp&nbsp&nbsp金额：{{order.finalAmount}}</p>
                    <span class="badge badge-assertive">{{order.state}}</span>

                    <ion-option-button class="button-info" ng-show="order.state==1" ng-click="cancelOrder(order)">
                        <i class="icon ion-ios-undo"></i>
                    </ion-option-button>
                    <ion-option-button class="button-info" ng-show="order.state==3" ng-click="scanOrder(order)">
                        <i class="icon ion-ios-eye"></i>
                    </ion-option-button>
                    <ion-option-button class="button-info" ng-show='order.state==4' ng-click="judgeOrder(order)">
                        <i class="icon ion-ribbon-b"></i>
                    </ion-option-button>
                    <ion-option-button class="button-info" ng-show='order.state==4' ng-click="shareOrder(order)">
                        <i class="icon ion-share"></i>
                    </ion-option-button>
                </div>
            </ion-item>
        </ion-list>

       
    </ion-content>
</ion-view>