<ion-view view-title="选择支付方式" class="ion-view-costum">
    <ion-nav-bar class="ion-nav-bar-costume" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-chevron-left" ng-click="goBack()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <ion-list>
            <ion-radio ng-model="order.channel" value="alipay">

                <img src="../../../image/logo/64x64.png" />
                <h2>支付宝</h2>
            </ion-radio>
            <ion-radio ng-model="order.channel" value="wx">
                <img src="../../../image/logo/icon64_appwx_logo.png" />
                <h2>微信支付</h2>
            </ion-radio>
        </ion-list>
        <div class="spacer" style="height:20px;"></div>
        <button class="allbutton button-block" ng-click="commitOrder()">提交订单</button>
    </ion-content>
</ion-view>