<ion-view view-title="选择小区">
    <ion-nav-bar class="bar-stable" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-arrow-left-c" ng-click="goBack()"></button>

        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content has-subheader="false">
        <div class="list" ng-repeat="district in districts">
            <label class="item item-radio">
                <input type="radio" name="group">
                <a class="item item-icon-left ">
                    <i class="icon ion-android-people"></i>
                    <h2>小区名称：{{district.name}}</h2>

                </a>
                <i class="radio-icon ion-checkmark"></i>

            </label>

        </div>

    </ion-content>

</ion-view>