<ion-view title="洗车店" class="ion-view-costum">
    <ion-content >
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <ion-item ng-repeat="order in orderInfo" ng-click="goToOrderInfo(order)" class="input-costume">
                <div>
                    <p>订单编号: {{order.orderNo}}</p>
                    <p>车牌：{{order.autoPN}}，金额：<span class="a-custome">{{order.finalAmount|currency:'￥'}}</span></p>
                    <p>洗车类型：{{order.washTypeName}}</p>
                    <p>下单时间：{{order.billTime}}</p>
                    <span class="badge span-mark" ng-show="order.state==5">已评价</span>
                </div>

                <ion-option-button class="button-washstore-scan" ng-click="goToOrderInfo(order)">
                    查看
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>