<ion-view>
    <ion-content padding="true" class="has-header">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <ion-item ng-repeat="order in orderInfo" ng-click="goToOrderInfo(order)">
                <p>车牌: {{order.autoPN}}</p>
                <p>时间：{{order.orderTime}}，金额：{{order.finalAmount}}</p>

                <ion-option-button class="button-udq-accept" ng-click="acceptOrder(order)">
                    接收订单
                </ion-option-button>
                <ion-option-button class="button-udq-cancel" ng-click="cancelOrder(order)">
                    取消订单
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>