<ion-view title="订单信息">
    <ion-nav-bar class="bar-stable" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-arrow-left-c" ng-click="goBack()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <p><h4>订单基本信息</h4></p>
        <table>
            <tr>
                <td>订单编号：{{order.orderNo}}</td><td>订单状态: {{order.stateNote}}</td>
            </tr>
            <tr>
                <td>客户姓名：{{order.customerName}}</td><td>联系电话：{{order.customerMobile}}</td>
            </tr>
            <tr>
                <td>洗车类型：{{order.washTypeName}}</td><td>客户评价：{{order.customerGrade}}</td>
            </tr>
            <tr>
                <td>车牌号码：{{order.autoPN}}</td><td>所属小区：{{order.regionName}}</td>
            </tr>
            <tr>
                <td>下单时间：{{order.billTime}}</td>
            </tr>
            <tr>
                <td>优惠券：{{order.couponName}}</td><td>优惠金额：{{order.couponAmount}}</td>
            </tr>
            <tr>
                <td>固定价格：{{order.fixedAmount}}</td><td>结算价格：{{order.finalAmount}}</td>
            </tr>
            <tr>
                <td>订单备注：{{order.userNote}}</td>
            </tr>
        </table>
        <div ng-show="order.state==2||order.state==3||order.state==4||order.state==5">
            <p><h4>订单处理信息</h4></p>
            <table>
                <tr>
                    <td>接单员工：{{order.washerName}}</td>
                </tr>
                <tr>
                    <td>接单时间：{{order.acceptTime}}</td>
                </tr>
                <tr>
                    <td>开始时间：{{order.beginTime}}</td>
                </tr>
                <tr>
                    <td>结束时间：{{order.finishTime}}</td>
                </tr>
            </table>
        </div>
        <div ng-show="order.state==4||order.state==5">
            <p><h4>照片信息</h4></p>
            <div class="row">
                <div class="col"><img src={{order.photoUrl1}} id="img1" ng-click="gotoPhoto(1)" style="width:90px;height:auto"></div>
                <div class="col"><img src={{order.photoUrl2}} id="img2" ng-click="gotoPhoto(2)" style="width:90px;height:auto"></div>
                <div class="col"><img src={{order.photoUrl3}} id="img3" ng-click="gotoPhoto(3)" style="width:90px;height:auto"></div>
            </div>
        </div>
    </ion-content>
</ion-view>