<ion-view view-title="完成订单" class="ion-view-costum">
    <ion-nav-bar class="ion-nav-bar-costume" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button-clear icon ion-arrow-left-c" ng-click="goBackToOrder()" style="color:white;"></button>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content>
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <label class="item item-input input-costume">
                <span class="input-label"><p>客户姓名</p></span>
                <p>{{order.customerName}}</p>
            </label>
            <label class="item item-input input-costume">
                <span class="input-label"><p>联系电话</p></span>
                <p>{{order.customerMobile}}</p>
            </label>
            <label class="item item-input input-costume">
                <span class="input-label"><p>车牌号码</p></span>
                <p>{{order.autoPN}}</p>
            </label>
        </ion-list>
        <div class="spacer" style="height:10px;"></div>
        <div class="row" style="margin:2px;padding:0px;">
            <div class="col col-33" style="border:2px solid white;"><img src={{order.photoUrl1}} id="img1" ng-click="gotoPhoto(1)" style="width:100%;height:auto"></div>
            <div class="col col-33" style="border:2px solid white;"><img src={{order.photoUrl2}} id="img2" ng-click="gotoPhoto(2)" style="width:100%;height:auto"></div>
            <div class="col col-33" style="border:2px solid white;"><img src={{order.photoUrl3}} id="img3" ng-click="gotoPhoto(3)" style="width:100%;height:auto"></div>
        </div>
        <div class="row">
            <div class="col">
                <button ng-click="takePhoto(1)" class="button-clear ion-plus-round"></button>
            </div>
            <div class="col">
                <button ng-click="delete(1)" class="button-clear ion-minus-round"></button>
            </div>
            <div class="col">
                <button ng-click="takePhoto(2)" class="button-clear ion-plus-round"></button>
            </div>
            <div class="col">
                <button ng-click="delete(2)" class="button-clear ion-minus-round"></button>
            </div>
            <div class="col">
                <button ng-click="takePhoto(3)" class="button-clear ion-plus-round"></button>
            </div>
            <div class="col">
                <button ng-click="delete(3)" class="button-clear ion-minus-round"></button>
            </div>
        </div>
        <div class="spacer" style="height:20px;"></div>
        <div class="row">
            <div class="col col-100 item item-input input-costume">
                <textarea placeholder="您有什么要告诉车主的，请写在这里。" ng-model="order.washerNote" rows="5" class="input-costume" style="color:white;width:100%;height:inherit"></textarea>
            </div>
        </div>
        <div class="spacer" style="height:5px;"></div>
        <div class="row">
            <button class="allbutton button-block" ng-click="finish()">完成</button>
        </div>
        
</ion-content>

</ion-view>